body{
	background-color: #d3d3d3;
	margin: 0;
}

#wrap{
	padding: 40px;
	padding-left: 200px;
}

#grid{
	height: 540px;
	width: 540px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    float: left;
}

#numbers{
	width: 60px;
	height: 600px;
	background-color: white;
	float: left;
	margin:-15px 00px 00px 50px;
	display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}


.blue{
	background-color: #00ffff;
	color: black;
    text-align: center;
    height: 180px;
    width: 180px;
    display: grid;
	grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.darkblue{
	background-color: #00d2d2;
	color: black;
    text-align: center;
    height: 180px;
    width: 180px;
    display: grid;
	grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.button{
	background-color: transparent;
	font-weight: bold;
	font-size: 40px;
	color: black;
	border-width:2;
	padding:0;
}

.numberButton{
	background-color: transparent;
	font-weight: bold;
	font-size: 25px;
	color: black;
	border-width:1;
	padding:0;
}

#clear{
	font-size: 20px;
}

.numberButton.picked{
	background-color: black;
	font-weight: bold;
	font-size: 25px;
	color: white;
	border-width:1;
	padding:0;
}

.clear{

}

.submit{

}

#clearButton{
	display: inline-block;
	font-size: 25px;
	font-weight: bold;
	background-color: #c3c3c3;
	color: black;
	width: 131px;
	height: 60px;
	text-decoration: none;
}

#submitButton{
	display: inline-block;
	font-size: 25px;
	font-weight: bold;
	background-color: #c3c3c3;
	color: black;
	width: 131px;
	height: 60px;
	text-decoration: none;
}
